.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  font-weight: 900;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 29px;
  max-width: 220px;
}

.card__trash-button {
  background: transparent url(../images/trash-icon.svg) center no-repeat;
  width: 18px;
  height: 19px;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.card__trash-button:hover {
  opacity: 0.6;
}

.card__like-button {
  background: transparent url(../images/like-disabled-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.card__like-button_active {
  background: transparent url(../images/like-active-icon.svg) center no-repeat;
  height: 19px;
}

.card__like-button:hover {
  opacity: 0.5;
}
