.footer {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
}

.footer__copyright {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 282px;
}

@media screen and (max-width: 919px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 879px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 620px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 580px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
